@-moz-document regexp("https?://.+?\.slack.com\.*") {

  .joined, .left {
    display: none !important;
  }

  /***************************
  PARENT
  ****************************/

  div.monkey_scroll_handle_inner {
    background-color: #a9b7c6 !important;
    border: 0px !important;
  }

  div.monkey_scroll_bar {
    background-color: #2b2b2b !important;
  }

  #client_body, #footer, input.search_input {
    background-color: #2b2b2b !important;
    color: #d8d8d8 !important;
  }

  body.light_theme {
    background-color: #2b2b2b !important;
  }

  /***************************
  HEADER
  ****************************/

  #header {
    background-color: #2b2b2b !important;
    border: 0px !important;
    color: #a9b7c6 !important;
  }

  #channel_members_toggle, #autocomplete_menu,
  #menu_items_scroller, div.section_header span.header_label.menu_mini {
    background-color: #323232 !important;
    color: #a9b7c6 !important;
  }

  /***************************
  LEFT
  ****************************/

  #team_menu, #current_user_name,
  #col_channels, #channels_scroller,
  #channels_header, a.channel_name,
  #direct_messages_header, a.im_name, .im_close,
  #groups_header, a.group_name, .group_close {
    background-color: #424445 !important;
    border: 0px !important;
    color: #a9b7c6 !important;
  }

  .channel.active a.channel_name,
  .member.active a.im_name,
  .group.active a.group_name {
    background-color: #214283 !important;
    color: #d0d0d0 !important;
  }

  .channel.unread a.channel_name,
  .member.unread a.im_name,
  .group.unread a.group_name {
    color: #d0d0d0 !important;
  }

  #team_menu:hover, #current_user_name:hover,
  #channels_header:hover, a.channel_name:hover,
  #direct_messages_header:hover, a.im_name:hover, .im_close:hover,
  #groups_header:hover, a.group_name:hover, .group_close:hover {
    color: #ffffff !important;
  }

  span.presence.active {
    color: #7fb347 !important;
  }

  span.presence.away {
    color: #808080 !important;
  }

  .slackbot_icon {
    color: #bfa4a4 !important;
  }

  a.channel-list-more.list_more, #im_list_more, #group_list_more,
  #new_channel_btn, #new_dm_btn, #new_pg_btn {
    display: none !important
  }

  /***************************
  RIGHT
  ****************************/

  .tab_container, div.heading {
    background-color: #d8d8d8 !important;
  }

  .flex_content_scroller {
    background-color: #323232 !important;
  }

  /***************************
  CHAT
  ****************************/

  .day_divider, .day_divider_label {
    background-color: #2b2b2b !important;
    border: 0px !important;
    color: #a9b7c6 !important;
  }

  .day_divider hr {
    border: 0px !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .message.divider, .message.first {
    border-color: #323232 !important;
  }

  a.message_sender.member.member_preview_link {
    color: #cc7832 !important;
  }

  a.timestamp {
    color: #629755 !important;
  }

  span.bot_label {
    background-color: #424445 !important;
    color: #9876aa !important;
  }

  span.message_body {
    color: #d8d8d8 !important;
  }

  div.message_content b.mention,
  div.message_content a.internal_member_link span.mention,
  .message.bot_message.show_user.avatar.divider div.message_content span.mention {
    background-color: #323232 !important;
    color: #d25252 !important;
  }

  div.attachment_bar {
    background-color: #629755 !important;
  }

  div.inline_attachment div.message_content {
    background-color: #323232 !important;
  }

  ts-message:hover {
    background-color: #323232 !important;
  }

  figure.msg_inline_img.msg_inline_child {
    outline:: none !important;
    margin: 0 !important;
  }

  span.emoji_rxn.emoji_rxn_real {
    background-color: #323232 !important;
    border-color: #424445 !important;
  }

  span.emoji_rxn.emoji_rxn_real:hover {
    background-color: #323232 !important;
    border-color: #79abff !important;
  }

  span.emoji_rxn.menu_rxn {
    background-color: #79abff !important;
    border-color: #323232 !important;
  }

  div.unread_divider.no_unreads hr {
    margin-top: 3px !important;
    margin-bottom: -5px !important;
    background-color: #d25252 !important;
    height: 1px !important;
    border: 0px !important;
  }

  div.unread_divider.no_unreads span.divider_label {
    margin-top: 3px !important;
    color: #d25252 !important;
    background-color: #2b2b2b !important;
  }

  /***************************
  POPUP
  ****************************/

  div.action_hover_container {
    background-color: #323232 !important;
  }

  a.ts_icon {
    background-color: #79abff !important;
  }

  a.ts_icon:hover {
    color: #ffffff !important;
  }

  .flexpane_menu_item a {
    background-color: #323232 !important;
    color: #d8d8d8 !important;
  }

  .flexpane_menu_item a:hover {
    background-color: #2b2b2b !important;
    color: #ffffff !important;
  }

  /***************************
  INPUT
  ****************************/

  #primary_file_button {
    background-color: #424445 !important;
    border-color: #323232 !important;
    color: #d8d8d8 !important;
  }

  #primary_file_button:hover {
    background-color: #79abff !important;
    border-color: #323232 !important;
    color: #ffffff !important;
  }

  #message-input {
    background-color: #424445 !important;
    border-color: #323232 !important;
    color: #d8d8d8 !important;
  }
}
